#header{
    background-image: url(https://www.riotgames.com/assets/img/structure/6819de603d160dca6a4b7d51a3cdaa8b/hero--dark-sketch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 561px;
    color:#f9f9f9;
    font-family: 'Mohave', sans-serif;
}
/* ------NAV_BAR------ */
.nav{
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 38px;
    z-index: 99;
    width: 100%;
    background-color: #0A0A0A;
}
.nav-logo1{
    display: flex;
    align-items: center;
}
.logo1{
    max-width: 75px;
    cursor: pointer;
}
.caret{
    color:gray;
    font-size: 12px;
    padding-right: 6px;
}
.logo2{
    max-width: 26px;
    cursor: pointer;
}
.nav-content{
    display: flex;
    align-items: center;
    gap: 0 30px;
}
.dropdown{
    position: relative;
    cursor: pointer;
}
.dropdown__selected{
    display: flex;
    align-items: center;
}
.dropdown__selected::after{
    content:"";
    width: 100%;
    position: absolute;
    height: 10px;
    transform: translateY(210%);
}
.dropdown:hover .dropdown__list{
    display: block;
}
.dropdown:hover .dropdown__selected{
    background-color: #292929;
    border-radius: 6px;
}
.dropdown:hover .dropdown__selected>.caret{
    color: #f9f9f9;
}
.dropdown__selected span{
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 10px 10px;
}
.dropdown__list{
    width: 156px;
    background-color: #292929;
    padding: 16px;
    padding-top: 6px;
    margin-top: 8px;
    position: absolute;
    border-radius: 2px;
    border-top: 4px solid #D13639;
    display: none;
}
.dropdown__item{
    padding: 12px;
    margin-top: 5px;
    color: #c7c7c7;
    border-radius: 4px;
    letter-spacing: 0.5px;
    line-height: 20px;
}
.dropdown__item a{
    text-decoration: none;
    color: #c7c7c7;
}
.dropdown__item:hover{
    background-color: #444444;
}
.nav-news{
    font-size: 16px;
    letter-spacing: 0.5px;
    color:#f9f9f9;
    text-decoration: none;
    margin-left: 10px;
    position: relative;
    padding: 8px 16px;
}
.nav-news::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #D13639;
    transform: translate(-22%, 450%);
    display: none;
    border-radius: 4px;
}
.nav-news:hover{
    background-color: #292929;
    border-radius: 6px;
}
.nav-news:hover.nav-news::after{
    display: block;
}
.nav-btn{
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.search{
    position: relative;
    /* transform: translateX(140%); */
}
.search-bar{
    /* margin-top: 0.7rem;*/
    padding: 0 20px;
    border-radius: 30px;
    height: 30px;
    width: 145px;
    background-color: #1F1F1F;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.placeholder{
    color: gray;
    position: absolute;
    top:30%;
    font-size: 15px;
    letter-spacing: 0.5px;
    transform: translateX(40%);
    display: flex;
    user-select: none;
    pointer-events: none;
}
.search__icon{
    color: white;
    font-size: 20px;
    position: absolute;
    transform: translate(-150%,20%);
}
.search-bar:focus +.placeholder{
    display: none;
}
.sign-in{
    padding: 9px 23px;
    padding-bottom: 8px;
    margin-left: 6px;
    background-color: #D13639;
    border-radius: 16px;
}
.sign-in__btn{
    letter-spacing: 0.5px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.header-content{
    display: flex;  
}
.header-img{
    width: 640px;
    margin-top: 120px;
    margin-left: 80px;
}
.header-title{
    margin-top: 120px;
    margin-left: 80px;
}
.header-badge{
    padding: 5px;
    background-color: #D13639;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 12px;
    margin-bottom: 30px;
}
.header-heading{
    font-size: 120px;
    font-weight: bold;
}
#our-story{
    height: 1055px;
    font-family: 'Poppins', sans-serif;
    padding: 80px 323px;
    padding-bottom: 0px;
    background-color: #E7E6E3;
}
.OS-heading{
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 36px;
}
.OS-text{
    font-size: 22px;
    color: #2b2a29;
    line-height: 35px;
}
.OS-text>a{
    font-weight: 700;
    font-style: italic;
    color: #000;
}
.OS-text>a:hover{
    text-decoration-color: #D13639;
}
.about-us-spacing{
    background-image: url(https://www.riotgames.com/assets/img/structure/6d79447d110ef217a5a784efe55ba29b/texture-light@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 213px;
}
.ahri{
    height: 100%;
    float: right    ;
}
#diversity{
    font-family: 'Poppins', sans-serif;
    padding: 50px 80px;
    background-color: #E7E6E3;
}
.diver-content{
    display: flex;
    margin-bottom: 50px;
    gap: 138px;
}
.content-text{
    max-width: 467px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-heading{
    font-size: 44px;
    font-weight: 800;
}
.content-text p{
    color: #2b2a29;
    font-size: 17px;
    line-height: 28px;
    margin-top: 46px;
    margin-bottom: 35px;
}
.content-btn{
    padding: 15px 30px;
    background-color: #D13639;
    width: 105px;
    border-radius: 26px;
    color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}
.content-btn a{
    color: #f9f9f9;
    text-decoration: none;
}
.content-btn:hover{
    background-color: #2B2A29;
}
.content-btn:hover .content-btn a{
    text-decoration: underline;
    text-decoration-color: gray;
}
.diver-img2{
    transform: translateX(14%);
}
.content-text2{
    transform: translateX(15%);
}
.tools{
    display: flex;
    justify-content: space-evenly;
}
.like-cmt{
    display: flex;
    flex-direction: column;
}
