#header{
    background-image: url(https://www.riotgames.com/assets/img/content/e99be4b4cd0b958b04fa3adceb5ce5ee/explore-hero-bg--large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    color:#f9f9f9;
    font-family: 'Mohave', sans-serif;
}
/* ------NAV_BAR------ */
.nav{
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 38px;
    z-index: 99;
    width: 100%;
    background-color: #0A0A0A;
}
.nav-logo1{
    display: flex;
    align-items: center;
}
.logo1{
    max-width: 75px;
    cursor: pointer;
}
.caret{
    color:gray;
    font-size: 12px;
    padding-right: 6px;
}
.logo2{
    max-width: 26px;
    cursor: pointer;
}
.nav-content{
    display: flex;
    align-items: center;
    gap: 0 30px;
}
.dropdown{
    position: relative;
    cursor: pointer;
}
.dropdown__selected{
    display: flex;
    align-items: center;
}
.dropdown__selected::after{
    content:"";
    width: 100%;
    position: absolute;
    height: 10px;
    transform: translateY(210%);
}
.dropdown:hover .dropdown__list{
    display: block;
}
.dropdown:hover .dropdown__selected{
    background-color: #292929;
    border-radius: 6px;
}
.dropdown:hover .dropdown__selected>.caret{
    color: #f9f9f9;
}
.dropdown__selected span{
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 10px 10px;
}
.dropdown__list{
    width: 156px;
    background-color: #292929;
    padding: 16px;
    padding-top: 6px;
    margin-top: 8px;
    position: absolute;
    border-radius: 2px;
    border-top: 4px solid #D13639;
    display: none;
}
.dropdown__item{
    padding: 12px;
    margin-top: 5px;
    color: #c7c7c7;
    border-radius: 4px;
    letter-spacing: 0.5px;
    line-height: 20px;
}
.dropdown__item a{
    text-decoration: none;
    color: #c7c7c7;
}
.dropdown__item:hover{
    background-color: #444444;
}
.nav-news{
    font-size: 16px;
    letter-spacing: 0.5px;
    color:#f9f9f9;
    text-decoration: none;
    margin-left: 10px;
    position: relative;
    padding: 8px 16px;
}
.nav-news::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #D13639;
    transform: translate(-22%, 450%);
    display: none;
    border-radius: 4px;
}
.nav-news:hover{
    background-color: #292929;
    border-radius: 6px;
}
.nav-news:hover.nav-news::after{
    display: block;
}
.nav-btn{
    display: flex;
    align-items: center;
    margin-right: 80px;
}
.search{
    position: relative;
    /* transform: translateX(140%); */
}
.search-bar{
    /* margin-top: 0.7rem;*/
    padding: 0 20px;
    border-radius: 30px;
    height: 30px;
    width: 145px;
    background-color: #1F1F1F;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.placeholder{
    color: gray;
    position: absolute;
    top:30%;
    font-size: 15px;
    letter-spacing: 0.5px;
    transform: translateX(40%);
    display: flex;
    user-select: none;
    pointer-events: none;
}
.search__icon{
    color: white;
    font-size: 20px;
    position: absolute;
    transform: translate(-150%,20%);
}
.search-bar:focus +.placeholder{
    display: none;
}
.sign-in{
    padding: 9px 23px;
    padding-bottom: 8px;
    margin-left: 6px;
    background-color: #D13639;
    border-radius: 16px;
}
.sign-in__btn{
    letter-spacing: 0.5px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.header-content{
    z-index: 1000;
    padding-top: 130px;
    text-align: center;
}
.header-content span{
    font-size: 32px;
    font-weight: 700;
}
.span1{
    color: #656462;
    margin-right: 15px;
}
.span2{
    cursor: pointer;
    transition: text-decoration 0.15s ease-in-out;
}
.span2:hover{
    text-decoration: underline;
    text-decoration-color: #D13639;
}
#body{
    padding: 0 80px;
    font-family: 'Poppins', sans-serif;
    background-color: #D9D8D4;
    height: 2737px;
}
.main-news{
    transform: translateY(-30%);
    /* position: absolute; */
}
.renata{
    width: 1360px;
}
.news-main-content{
    margin-left: 30px;
    margin-top: 30px;
}
.news-main-badge{
    padding: 5px 10px;
    background-color: #D13639;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #f9f9f9;
    letter-spacing: 1px;
}
.news-main-heading{
    font-size: 40px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 20px;
}
.news-main-desc{
    color: #656462;
}
.col{
    width: 50%;
    float: left;
}
.news-list{
    margin-left: -80px;
    margin-top: -200px;
}
.news-items{
    margin-left: 80px;
    margin-bottom: 30px;
}
.news-item-img{
    width: 100%;
}
.news-item-content{
    max-width: 550px;
    margin-top: 30px;   
}
.news-item-heading{
    font-size: 26px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 35px;
}
.news-item-desc{
    color: #656462;
    line-height: 30px;
}
